
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

header div {
    height: 25px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #667BC6;
    color: white;
    margin-left: 10px;
}

main {
    margin: 10px auto;
    height: 300px;
    width: 98%;
    background-color: #FFB4C2;
    border-radius: 10px;
    padding: 10px;
    text-align: right;
    font-size: 24px;
}

main > p {
    margin: 0;
    color: white;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}

section article {
    width: 48%;
    margin: 0;
    border-radius: 10px;
    height: 100px;
    background-color: #DA7297;
    color: white;
    text-align: right;
    padding: 10px;
    font-size: 24px;
}

footer {

    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
    height: 9vh;
    width: 98%;
    background-color: #FDFFD2;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}