@media screen and (max-width: 1280px) and (min-width: 480px){
    section {
        flex-wrap: nowrap;
    }
    main {
        height: 500px;
    }
    section article {
        height: 600px;
    }
}