@media screen and (max-width: 480px) {
    body {
        padding: 32px 16px;
    }
    main {
        padding: 20px 0;
    }
    main h1 {
        width: auto;
        font-size: 28px;
    }

    main .buttons {
        margin-top: 32px;
        flex-direction: column;

    }
}